# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.VC.opendb-shm
*.VC.opendb-wal
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcworkspace
*.xcodeproj
CrashReportClient/
FileOpenOrder/

# Compiled source files
*.pdb
*.exp
*.lib
*.dll
*.exe

# OS files
.DS_Store
Thumbs.db

# Visual Studio
.vs/